__test__library__
dub.selections.json
libripieno-musicxml.a
dlang/**/*.h
.dub
.*.swp
.*.swo
*.dll
*.lib
*.sln
*.suo
*.a
*.visualdproj
__test__librar*
node_modules
typescript/partial/*
polyglot/musicxml-interfaces-polyglot
